html, body{
    overflow-x: hidden;
    width: 100%;
}

body{
    background-color: $fondo-principal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}

.inicio{
    background-color: $fondo-secundario;
    padding: 80px 20px;
    text-align: center;

    .titulo{
        color: $blanco-letras;
        font-size: 50px;
        letter-spacing: 0.2em;
    }

    .texto{
        color: $blanco-gris;
        font-size: 18px;
        line-height: 1.8rem;
        max-width: 800px;
        margin: 20px auto;
    }

    .inicio-links{
        @include boton-estructura;
        margin: 0 15px;
        border: 2px solid $rojo-tanpura;
        color: $blanco-letras;

        &:hover{
            color: $rojo-tanpura;
            background-color: $blanco-letras;
        }
    }
}

.container{
    padding-top: 60px;
    padding-bottom: 60px;
    
    .subtitulos{
        color: $blanco-letras;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 40px;
    }

    .tarjeta-video-tanpura{
        background-color: $fondo-secundario;
        padding: 20px;
        border: 1px solid $blanco-gris;
        border-radius: 8px;
        transition: all 0.3s ease;
        
        &:hover{
        border: 2px solid $rojo-tanpura;
        }
        
        .textos{
        color: $blanco-letras;
        font-size: 25px;
        }
        
        iframe{
            width: 100%;
            height: 230px;
        }
    }
    
}