$negro-fondo: #0a0a0a;
$fondo-principal: #121212;
$fondo-secundario: #1e1e1e;
$rojo-tanpura: #b30000;
$blanco-letras: #ffffff;
$blanco-gris: #b3b3b3;

@mixin boton-estructura {
    display: inline-block;
    padding: 15px 25px;
    text-decoration: none; 
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    transition: all 0.3s ease;
    
    &:hover {
        transform: scale(1.05);
    }
}